{{define "content"}}
    <form action="{{.PostUrl}}" id="private-notes" class="center" method="post">
        {{if .CUSTOM_LOGO}}
        <img src="{{.CUSTOM_LOGO}}" class="logo" loading="lazy" alt="Company Logo" width="200" height="200"></img>
        {{end}}
        <h3>{{.Lang.CONFIRM_SUBTITLE}} <i class="fa fa-trash" aria-hidden="true"></i></h3>

        <input type="hidden" name="key" id="key" value="{{ .Key }}"> 
        <input type="hidden" name="function" id="function" value="retrieve"> 
        <input type="submit" value="{{.Lang.CONFIRM_SHOW_BUTTON}}" class="g-recaptcha" data-sitekey="{{ .RECAPTCHA_KEY }}" data-callback="startRecaptcha">
        
    </form>
{{end}}
{{define "pageJavascript"}}

var form = document.getElementById("private-notes");
form.addEventListener("submit", function(evt) {
    evt.preventDefault();
    grecaptcha.execute();
    evt.currentTarget.submit();
});

function startRecaptcha(token) {
    document.getElementById("private-notes").dispatchEvent(new Event('submit', {cancelable: true}));
}

{{end}}
