{{define "content"}}
    
    <form action="{{.PostUrl}}" id="private-notes" class="center" autocomplete="off" method="post">
        <input type="hidden" name="function" id="function" value="create"> 

        {{if .CUSTOM_LOGO}}
        <img src="{{.CUSTOM_LOGO}}" class="logo" loading="lazy" alt="Company Logo" width="200" height="200"></img>
        {{end}}
        <h1>{{.Lang.INDEX_TITLE}} <i class="fa fa-lock" aria-hidden="true"></i></h1>


        <h3>{{.Lang.INDEX_SUBTITLE}}</h3>

        <div class="input-box">
            <textarea required minlength="1" maxlength="{{ .NOTE_MAX_LENGTH_CLIENT }}" id="secureNote" name="secureNote" class="input-text" rows="10" cols="70" placeholder="{{.Lang.INDEX_NOTE_PLACEHOLDER}}"></textarea>
        </div> 
        
        <div id="errors" style="color:red"> {{range .ErrorBag}}{{.}}{{end}} </div>
        
        <div class="row-box">
        <p>{{.Lang.INDEX_PASSWORD}}<input type="checkbox" id="passwordCheck" name="passwordCheck" onclick="showPassword()"></p>
        <input type="text" style="" class="hide" name="secretPassword" id="secretPassword" placeholder="{{.Lang.INDEX_PASSWORD_PLACEHOLDER}}">
        </div>
        <div class="row-box">
        <p>{{.Lang.INDEX_EXPIRATION}}<input type="checkbox" id="expirationCheck" name="expirationCheck" onclick="showExpiration()"></p>
        <input type="number" style="max-width: 50px;" class="hide" name="expirationTime" id="expirationTime" placeholder="{{.DEFAULT_EXPIRATION_INT}}">
        </div>
        <input type="hidden" name="key" id="key"> 
        <input type="submit" value="{{.Lang.INDEX_SEND_BUTTON}}" class="g-recaptcha" data-sitekey="{{ .RECAPTCHA_KEY }}" data-callback="startRecaptcha">
    </form>
{{end}}

{{define "pageJavascript"}}

var form = document.getElementById("private-notes");
form.addEventListener("submit", function(evt) {
    evt.preventDefault();

    if(validateForm()) {
        grecaptcha.execute();
    
        secureNote = document.getElementById("secureNote").value;
        
        var passwordCheck = document.getElementById("passwordCheck");
    
        var _secretKey=""
        if(passwordCheck.checked){
            var secretPassword = document.getElementById("secretPassword");
            _secretKey = secretPassword.value;
        }else{
            _secretKey = SimpleCrypto.generateRandom(256);
        }
    
        const simpleCrypto = new SimpleCrypto(_secretKey)
    
        const plainText = secureNote;
        const cipherText = simpleCrypto.encrypt(plainText);
        if(passwordCheck.checked){
            const hashkey = CryptoJS.MD5(cipherText).toString();
            document.getElementById("key").value = hashkey;
        }else{
            document.getElementById("key").value = _secretKey;
        }
        
        document.getElementById("secureNote").value = cipherText;
        evt.currentTarget.submit();
    } else {
        grecaptcha.reset();
        return false;
    }

    
}, true);

function startRecaptcha(token) {
    document.getElementById("private-notes").dispatchEvent(new Event('submit', {cancelable: true}));
}

function validateForm() {
    var valid = true;
    var secureNote = document.getElementById("secureNote");
    var secretPassword = document.getElementById("secretPassword");
    var expirationTime = document.getElementById("expirationTime");
    var errors = document.getElementById("errors");
    if (secureNote.validity.tooShort || secureNote.validity.valueMissing) {
        if(!document.getElementById("secureNoteValueMissing")){
            var error = document.createElement("p");
            error.setAttribute("id","secureNoteValueMissing");
            error.innerHTML = "{{.Lang.LANG_ERRORBAG_EMPTY}}";
            errors.appendChild(error);
        }
        valid = false;
    } else {
        var e=document.getElementById("secureNoteValueMissing");
        if(e!==null) e.remove();
    }
    if (secureNote.validity.tooLong) {
        if(!document.getElementById("secureNoteTooLong")){
            var error = document.createElement("p");
            error.setAttribute("id","secureNoteTooLong");
            error.innerHTML = "{{.Lang.LANG_ERRORBAG_NOTE_TOO_LONG}}";
            errors.appendChild(error);
        }
        valid = false;
    } else {
        var e=document.getElementById("secureNoteTooLong");
        if(e!==null) e.remove();
    }
    if (secretPassword.validity.valueMissing){
        if(!document.getElementById("secretPasswordValueMissing")){
            var error = document.createElement("p");
            error.setAttribute("id","secretPasswordValueMissing");
            error.innerHTML = "{{.Lang.LANG_ERRORBAG_PASSWORD_REQUIRED}}";
            errors.appendChild(error);
        }
        valid = false;
    } else {
        var e=document.getElementById("secretPasswordValueMissing");
        if(e!==null) e.remove();
    }
    if (expirationTime.validity.valueMissing){
        if(!document.getElementById("expirationTimeValueMissing")){
            var error = document.createElement("p");
            error.setAttribute("id","expirationTimeValueMissing");
            error.innerHTML = "{{.Lang.LANG_ERRORBAG_EXPIRATION_REQUIRED}}";
            errors.appendChild(error);
        }
        valid = false;
    } else {
        var e=document.getElementById("expirationTimeValueMissing");
        if(e!==null) e.remove();
    }
    if (expirationTime.value > {{.MAXIMUM_EXPIRATION_INT}}){
        if(!document.getElementById("expirationTimeValueTooLong")){
            var error = document.createElement("p");
            error.setAttribute("id","expirationTimeValueTooLong");
            error.innerHTML = "{{.Lang.LANG_ERRORBAG_EXPIRATION_TOO_LONG}}";
            errors.appendChild(error);
        }
        valid = false;
    } else {
        var e=document.getElementById("expirationTimeValueTooLong");
        if(e!==null) e.remove();
    }
    return valid;
}

function showPassword() {
  var password = document.getElementById("secretPassword");
  password.classList.toggle("hide");
  password.classList.toggle("show");
  if (password.classList.contains("show")){
    password.required = true;
  }else{
    password.required = false;
    password.value = "";
  }

}

function showExpiration() {
    var expiration = document.getElementById("expirationTime");
    expiration.classList.toggle("hide");
    expiration.classList.toggle("show");
    if (expiration.classList.contains("show")){
        expiration.required = true;
    }else{
        console.log('here');
        expiration.required = false;
        expiration.value = "";
    }
  
  }


{{end}}
