{{define "content"}}
    <form action="{{.PostUrl}}" id="private-notes" class="center" method="post">
        <input type="hidden" name="function" id="function" value="create"> 
        <h1>Private notes <i class="fa fa-lock" aria-hidden="true"></i></h1>
        <h3>Send self-destructing private notes securely</h3>

        <div class="input-box">
            <textarea id="secureNote" name="secureNote" class="input-text" rows="10" cols="70" placeholder="Notes will self-destruct after they are read..."></textarea>
        </div> 

        
        <div style="color:red"> {{range .ErrorBag}}{{.}}{{end}} </div>
        
        <div class="row-box">
        <p>Password protect your note<input type="checkbox" id="passwordCheck" name="passwordCheck" onclick="showPassword()"></p>
        <input type="text" style="" class="hide" name="secretPassword" id="secretPassword" placeholder="enster your password">
        </div>
        <div class="row-box">
        <p>Custom expiration time(minutes)(default:{{.DEFAULT_EXPIRATION_INT}})<input type="checkbox" id="expirationCheck" name="expirationCheck" onclick="showExpiration()"></p>
        <input type="number" style="max-width: 50px;" class="hide" name="expirationTime" id="expirationTime" placeholder="">
        </div>
        <input type="hidden" name="key" id="key"> 
        <input type="submit" value="Encrypt & Send" onsubmit="e.preventDefault();" class="g-recaptcha" data-sitekey="6LfrnPQkAAAAAKSC7plAfp8kutlL9cKpvSWsqgiL" data-callback="startRecaptcha">
    </form>
{{end}}

{{define "pageJavascript"}}

console.log(document.getElementById("private-notes"));
var form = document.getElementById("private-notes");
form.addEventListener("submit", function(evt) {
    evt.preventDefault();

    grecaptcha.execute();
    
    secureNote = document.getElementById("secureNote").value;
    // window.history.back();
    // console.log(secureNote);
    
    var passwordCheck = document.getElementById("passwordCheck");

    var _secretKey=""
    if(passwordCheck.checked){
        var secretPassword = document.getElementById("secretPassword");
        _secretKey = secretPassword.value;
    }else{
        _secretKey = SimpleCrypto.generateRandom(256);
    }

    // console.log(_secretKey);
    const simpleCrypto = new SimpleCrypto(_secretKey)

    const plainText = secureNote;
    const cipherText = simpleCrypto.encrypt(plainText);
    if(passwordCheck.checked){
        const hashkey = CryptoJS.MD5(cipherText).toString();
        document.getElementById("key").value = hashkey;
    }else{
        document.getElementById("key").value = _secretKey;
    }
    
    document.getElementById("secureNote").value = cipherText;
    evt.currentTarget.submit();
}, true);

function showPassword() {
  var password = document.getElementById("secretPassword");
  password.classList.toggle("hide");
  password.classList.toggle("show");
  if (password.classList.contains("show")){
    password.required = true;
  }else{
    password.required = false;
  }

}

function showExpiration() {
    var expiration = document.getElementById("expirationTime");
    expiration.classList.toggle("hide");
    expiration.classList.toggle("show");
    if (expiration.classList.contains("show")){
        expiration.required = true;
    }else{
        expiration.required = false;
    }
  
  }

function startRecaptcha(token) {
    document.getElementById("private-notes").dispatchEvent(new Event('submit', {}));
}
{{end}}
