{{define "content"}}
    
    <form action="{{.PostUrl}}" id="private-notes" class="center" method="post">
        <input type="hidden" name="function" id="function" value="create"> 

        {{if .CUSTOM_LOGO}}
        <img src="{{.CUSTOM_LOGO}}" class="logo" loading="lazy" alt="Company Logo" width="200" height="200"></img>
        {{end}}
        <h1>Private notes <i class="fa fa-lock" aria-hidden="true"></i></h1>


        <h3>Send self-destructing private notes securely</h3>

        <div class="input-box">
            <textarea required minlength="1" maxlength="10000" id="secureNote" name="secureNote" class="input-text" rows="10" cols="70" placeholder="Notes will self-destruct after they are read..."></textarea>
        </div> 

        
        <div id="errors" style="color:red"> {{range .ErrorBag}}{{.}}{{end}} </div>
        
        <div class="row-box">
        <p>Password protect your note<input type="checkbox" id="passwordCheck" name="passwordCheck" onclick="showPassword()"></p>
        <input type="text" style="" class="hide" name="secretPassword" id="secretPassword" placeholder="enster your password">
        </div>
        <div class="row-box">
        <p>Custom expiration time,1-{{.MAXIMUM_EXPIRATION_INT}},default {{.DEFAULT_EXPIRATION_INT}} min<input type="checkbox" id="expirationCheck" name="expirationCheck" onclick="showExpiration()"></p>
        <input type="number" style="max-width: 50px;" class="hide" name="expirationTime" id="expirationTime" placeholder="">
        </div>
        <input type="hidden" name="key" id="key"> 
        <input type="submit" value="Encrypt & Send" class="g-recaptcha" data-sitekey="6LfrnPQkAAAAAKSC7plAfp8kutlL9cKpvSWsqgiL" data-callback="startRecaptcha">
    </form>
{{end}}

{{define "pageJavascript"}}

var form = document.getElementById("private-notes");
form.addEventListener("submit", function(evt) {
    evt.preventDefault();

    var form = document.getElementById("private-notes");

    if(validateForm()) {
        grecaptcha.execute();
    
        secureNote = document.getElementById("secureNote").value;
        
        var passwordCheck = document.getElementById("passwordCheck");
    
        var _secretKey=""
        if(passwordCheck.checked){
            var secretPassword = document.getElementById("secretPassword");
            _secretKey = secretPassword.value;
        }else{
            _secretKey = SimpleCrypto.generateRandom(256);
        }
    
        const simpleCrypto = new SimpleCrypto(_secretKey)
    
        const plainText = secureNote;
        const cipherText = simpleCrypto.encrypt(plainText);
        if(passwordCheck.checked){
            const hashkey = CryptoJS.MD5(cipherText).toString();
            document.getElementById("key").value = hashkey;
        }else{
            document.getElementById("key").value = _secretKey;
        }
        
        document.getElementById("secureNote").value = cipherText;
        evt.currentTarget.submit();
    } else {
        grecaptcha.reset();
    }

    
}, true);

function startRecaptcha(token) {
    document.getElementById("private-notes").dispatchEvent(new Event('submit', {}));
}

function validateForm() {
    var valid = true;
    var secureNote = document.getElementById("secureNote");
    var secretPassword = document.getElementById("secretPassword");
    var expirationTime = document.getElementById("expirationTime");
    var errors = document.getElementById("errors");
    if (secureNote.validity.tooShort || secureNote.validity.valueMissing) {
        if(!document.getElementById("secureNoteValueMissing")){
            var error = document.createElement("p");
            error.setAttribute("id","secureNoteValueMissing");
            error.innerHTML = "You can't send an empty note";
            errors.appendChild(error);
        }
        valid = false;
    } else {
        var e=document.getElementById("secureNoteValueMissing");
        if(e!==null) e.remove();
    }
    if (secureNote.validity.tooLong) {
        if(!document.getElementById("secureNoteTooLong")){
            var error = document.createElement("p");
            error.setAttribute("id","secureNoteTooLong");
            error.innerHTML = "This note is too long";
            errors.appendChild(error);
        }
        valid = false;
    } else {
        var e=document.getElementById("secureNoteTooLong");
        if(e!==null) e.remove();
    }
    if (secretPassword.validity.valueMissing){
        if(!document.getElementById("secretPasswordValueMissing")){
            var error = document.createElement("p");
            error.setAttribute("id","secretPasswordValueMissing");
            error.innerHTML = "Secret password checked but not provided";
            errors.appendChild(error);
        }
        valid = false;
    } else {
        var e=document.getElementById("secretPasswordValueMissing");
        if(e!==null) e.remove();
    }
    if (expirationTime.validity.valueMissing){
        if(!document.getElementById("expirationTimeValueMissing")){
            var error = document.createElement("p");
            error.setAttribute("id","expirationTimeValueMissing");
            error.innerHTML = "Expiration time checked but not provided";
            errors.appendChild(error);
        }
        valid = false;
    } else {
        var e=document.getElementById("expirationTimeValueMissing");
        if(e!==null) e.remove();
    }
    return valid;
}

function showPassword() {
  var password = document.getElementById("secretPassword");
  password.classList.toggle("hide");
  password.classList.toggle("show");
  if (password.classList.contains("show")){
    password.required = true;
  }else{
    password.required = false;
  }

}

function showExpiration() {
    var expiration = document.getElementById("expirationTime");
    expiration.classList.toggle("hide");
    expiration.classList.toggle("show");
    if (expiration.classList.contains("show")){
        expiration.required = true;
    }else{
        expiration.required = false;
    }
  
  }


{{end}}
