<!DOCTYPE html>
<html>
<head>
    <title>Private Notes</title>
    <script src="https://cdn.jsdelivr.net/npm/simple-crypto-js@2.5.0/dist/SimpleCrypto.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
<style>
{{template "baseCss"}}
{{define "pageCss" }}{{end}}
{{template "pageCss" .}}
</style>
</head>
<body>

<div  class="center">
    {{template "content" .}}
</div>

<script>
    {{template "baseJavascript"}}
    {{define "pageJavascript"}}{{end}}
    {{template "pageJavascript" .}}
</script>
</body>
</html>
