<!DOCTYPE html>
<html>
<head>
    <title>{{ .PageTitle }}</title>
    <script src="https://cdn.jsdelivr.net/npm/simple-crypto-js@2.5.0/dist/SimpleCrypto.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <meta property="og:title" content="private-notes" />
    <meta property="og:title" content="send self-distructing notes over the internet" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://github.com/clglavan/private-notes" />
    <meta property="og:image" content="https://repository-images.githubusercontent.com/532600932/0b62f237-d1a1-4dc6-9661-c130f39e61c7" />
<style>
{{template "baseCss"}}
{{define "pageCss" }}{{end}}
{{template "pageCss" .}}
</style>

{{if .GA_TAG}}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XYG1D4F08D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ .GA_TAG }}');
</script>
{{end}}
</head>
<body>

<div  class="center">
    {{template "content" .}}
</div>

<p class="description">Open-source, learn more at <i class="fa fa-github"> </i><a href="https://github.com/clglavan/private-notes" target="_blank">private-notes</a></p>
<script>
    {{template "baseJavascript"}}
    {{define "pageJavascript"}}{{end}}
    {{template "pageJavascript" .}}
</script>
</body>
</html>
