{{define "content"}}
<h1>Thannk you for using private notes <i class="fa fa-shield" aria-hidden="true"></i></i></h1>
<h3>This note will self-destruct after it will be read.</h1>

<div class="input-box">
    <p class="input-text">{{.SecretUrl}}</p>
    <p class="description">( Open-source, learn more at <i class="fa fa-github"> </i><a href="https://github.com/clglavan/private-notes" target="_blank">private-notes</a> )</p>
</div> 
<!-- <button type="button" value="Copy to clipboard" onclick="copyToClipboard()">Copy to clipboard</button> -->
{{end}}
