{{define "baseCss"}}
html, body {
    height: 100%;
    font-family: monospace;
    overflow: hidden;
}
/* h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;} */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    /* border: 3px solid green;  */
}
.input-text {
    background: #fff;
    box-shadow: 3px 3px 3px #ccc;   
    padding: 60px 30px 30px;
    border: black 1px solid;
    border-radius: 15px;
}
.input-box textarea{
    max-width:100%;
}
input[type=button],input[type=text], input[type=submit], input[type=reset] {
    background-color: white;
    /* border: none; */
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 3px 3px 3px #ccc;   
    border: black 1px solid;
    border-radius: 5px;
}
.description {
    /* line-height: 1px; */
    margin-top: 0%;
}
.hide {
    display: none;
}

.show {
    display: block;
}

@media screen and (max-width : 1000px) {
    body {
        font-size: 200%;
    }
    /* input[type=submit] {
        width: 400px;
        height: 100px;
        font-size: 75%;
    } */
    .input-text {
        width: 90%;
    } 
    /* #secureNote {
        height: 500px;
    } */
    /* #secretPassword {
        width: 70%!important;
        height: 1%;
    }
    .input-box {
        width: 100%;
    }
    input[type="checkbox" i] {
        width: 50px;
        height: 50px;
    } */
}
{{end}}
